Package: tpp-rest-server
Version: 1.0.0
Section: misc
Priority: low
Architecture: all
Description: This package contains the Tpp application.
Maintainer: Francis Pouatcha <Francis.Pouatcha@adorsys.com>
Depends: openjdk-17-jre
